.container {
    margin-top: 20px;
  }
  
  .input {
    background-color: rgba(115, 116, 117, 0.168);
    color: black;
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgba(6, 6, 6, 0.836);
    outline: transparent;
    transition: border-color 250ms linear;
  }
  
  .input:focus {
    border-color: rgba(22, 15, 231, 0.9);
    outline: transparent;
    outline-offset: 4px;
  }
  
  .text {
    font-weight: 500;
  }